#userControl{
	margin-right: 100px;
}
#left a{
    color: #808080;
    background: inherit;
}
#left .active a{
    color: #1a1a1a;
}
#left1 #menu li{
    float: none;
    text-align: center;
}
#left1{
    margin-bottom: 0;
}
.footer{
    position: absolute;
    width: 100%;
    bottom: 20px;
}