#userControl{
	margin-right: 100px;
}
#left a{
    color: #808080;
    background: inherit;
}
#left .active a{
    color: #1a1a1a;
}
#left1 #menu li{
    float: none;
    text-align: center;
}
#left1{
    margin-bottom: 0;
}
.footer{
    position: absolute;
    width: 100%;
    bottom: 20px;
}
.navbar-inner{
    background: #ccc;
}
.nav-tabs>li{
    font-size: 16px;
    line-height: 50px;
    display: inline-block;
    margin-left: 70px;
    box-sizing: border-box;
    border:none;
    color: #000;
    cursor: pointer;

}
.nav-tabs>li.active{
    border-bottom: 5px solid #3f51B5;
    color: #000;
}
.nav-tabs>li>a{
    border: none;
    color: #000;
    padding-left: 0;
    padding-right: 0;
    height: 34px;
    line-height: 34px;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus{
    border-top: none;
    border-left: none;
    border-right: none;
    color: #000;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
    background: inherit;
    border: none;
    color: #000;
}