<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:task="http://www.springframework.org/schema/task"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task-4.0.xsd">


<!-- 定时任务配置 -->

    <task:scheduler id="scheduler" pool-size="5" />

    <task:scheduled-tasks scheduler="scheduler">
        <task:scheduled ref="timingDateImportService" method="import2DataBase"
                        cron="0 0/1 * * * ?" />

        <task:scheduled ref="timingUpdateActivityStatusService" method="updateStatus"
                        cron="0 0/5 * * * ?" />

        <!-- * 0/30 * * * ?-->
        <!--<task:scheduled ref="timingDateImportService" method="deleteHasImportTable"
                        cron="0 0/1 * * * ?" />-->

    </task:scheduled-tasks>

</beans>