.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #3F51B5;
	width: 120px;
	font-size: 14px;
	height: 25px;
	line-height: 35px;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	overflow: hidden;
	margin-bottom: 0;
	/*margin-top: 10px;*/
}
.webuploader-pick-hover {
	background: #3F51B5;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

